/* CHAT NAVBAR */

.profile {
    right: 2.5%;
    position: absolute;
    margin-top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
}

.profile:hover {
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    display: none;
    right: 2.5%;
    top: 80px;
}

.profile-dropdown > a {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: block;
}

.profile-dropdown > a {
    text-decoration: none;
    color: black;
    background-color: orange;
}


/* Friends list */
.connections-nav {
    margin-top: 150px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.friends {
    padding: 10px;
    position: absolute;
    background-color: blue;
    text-align: center;
    width: 110px;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    z-index: 2;
}

.friends-button {
    width: 100px;
    text-align: center;
}

.friends-button > p {
    float: left;
}

.friends-button > img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.friends-button:hover {
    cursor: pointer;
}

.friends-list {
    display: none;
}

.friends-list > p {
    margin-top: 10px;
    padding: 10px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.friends-list > p:hover {
    cursor: pointer;
}

.channels {
    padding: 10px;
    position: absolute;
    background-color: orange;
    text-align: center;
    width: auto;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
    z-index: 2;
    left: 175px;
}

.channels-button:hover {
    cursor: pointer;
}

.channels-button > p {
    float: left;
    margin-left: 10px;
}

.channels-button > img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.channels-list {
    display: none;
}

.channels-list > p {
    margin-top: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

span {
    padding: 10px;
}

/* Connections list */

/* CHAT BOX */
.current-chat {
    position: absolute;
    top: 250px;
    margin-left: 2.5%;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    width: 95%;
    height: 50%;
    z-index: 1;
}

.chat-row {
    width: 100%;
    height: 40px;
}

.chat-message {
    background-color: green;
    width: 45%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.chat-timestamp {
    float: left;
}

.chat-sender {
    float: left;
    margin-left: 10px;
}

.chat-message-data {
    clear: both;
}

.chat-message-response {
    float: right;
    background-color: orange;
    width: 45%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.chat-timestamp-response {
    float: right;
}

.chat-sender-response {
    float: right;
    margin-right: 10px;
}

.chat-message-data-response {
    float: right;
}

.chat-send {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 85%;
    height: 60px;
    resize: none;
}

.chat-send-icon {
    position: absolute;
    bottom: 15px;
    right: 4%;
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 10px;
}

.chat-send-icon:hover {
    cursor: pointer;
}

