/* CHAT NAVBAR */

.profile {
    right: 2.5%;
    position: absolute;
    margin-top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
}

.profile:hover {
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    right: 2.5%;
    top: 85px;
    width: 150px;
    text-align: center;
    z-index: 10;
}

.profile-dropdown > a {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: block;
}

.profile-dropdown > a {
    text-decoration: none;
    color: black;
    background-color: orange;
}


/* Chats list */
.connections-nav {
    margin-top: 150px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.chats {
    padding: 10px;
    position: absolute;
    background-color: orange;
    text-align: center;
    width: 20%;
    height: 71%;
    border-radius: 10px;
    margin-right: 10px;
    z-index: 2;
    left: 2.5%;
    top: 150px;
}

.channels-list > p {
    margin-top: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

span {
    padding: 10px;
}

/* CHAT Messages */
.current-chat {
    position: absolute;
    top: 150px;
    background-color: blue;
    border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    height: 65%;
    z-index: 5;
    right: 2.5%;
}

.chat-row {
    width: 100%;
    height: 40px;
}

.chat-message {
    background-color: green;
    width: 45%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.chat-timestamp {
    float: left;
}

.chat-sender {
    float: left;
    margin-left: 10px;
}

.chat-message-data {
    clear: both;
}

.chat-message-response {
    float: right;
    background-color: orange;
    width: 45%;
    border-radius: 10px;
    border: none;
    padding: 10px;
}

.chat-timestamp-response {
    float: right;
}

.chat-sender-response {
    float: right;
    margin-right: 10px;
}

.chat-message-data-response {
    float: right;
}



/* CHAT BOX */

.chat-box {
    position: absolute;
    right: 2.5%;
    bottom: 7.5%;
    width: 70%;
}


.chat-send {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 85%;
    height: 60px;
    resize: none;
}

.chat-send-icon {
    position: absolute;
    bottom: 15px;
    height: 60px;
    width: 60px;
    right:0;
    background-color: red;
    border-radius: 10px;
}

.chat-send-icon:hover {
    cursor: pointer;
}

