* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Anta", sans-serif;
    font-weight: 0;
    font-style: normal;
}

body {
    background-color: #CAF0F8;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
}

/* Navigation Bar */
nav {
    margin-top: 25px;
    margin-left: 25px;
    width: 1000px;
    height: 100px;
    background-color: #48CAE4;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.nav-img {
    width: 200px;
    height: 100px;
    float: left;
}

.nav-img > img {
    height: 100px;
    width: 100px;
    margin-top: 5px;
    float:left;
}

.nav-logo {
    margin-top: 25px;
    float: left;
    color: black;
}

/* CHAT NAVBAR */

.profile-div {
    float: right;
    width: 100px;
    height: 100px;
}

.profile {
    margin-top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: none;
}

.profile:hover {
    cursor: pointer;
}

.profile-dropdown {
    width: 150px;
    text-align: center;
    position: relative;
    z-index: 5;
    margin-top: 5px;
    right: 100px;
    clear: both;
}

.profile-dropdown > a {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: block;
}

.profile-dropdown > a {
    text-decoration: none;
    color: black;
    background-color: orange;
}

/* This is left side chat-rooms section */

.chats {
    padding: 10px;
    background-color: orange;
    text-align: center;
    width: 200px;
    height: 610px;
    border-radius: 10px;
    z-index: 2;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    float:left;
}

.channels-list > p {
    margin-top: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

span {
    padding: 10px;
}

#chat-room-plus {
    margin-top: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    background-color: orange;
    border: none;
    border-radius: 10px;
}

#chat-room-plus:hover, .channels-list > p:hover {
    cursor: pointer;
}

/* Search Box - for user search */
#search-user-div {
    height: 100px;
    overflow-y:scroll;
    background-color: orange;
    width: auto;
    border-radius: 10px;
}

.searched_username {
    padding: 5px 10px;
    background-color: orange;
    border: none;
    border-bottom: 1px black solid;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 10px;
}
.searched_username:hover {
    cursor: pointer;
}


/* CHAT Messages - middle section of page */
.current-chat {
    float:left;
    margin-top: 25px;
    margin-left: 10px;
    background-color: rgb(146, 170, 212);
    border: none;
    border-radius: 10px;
    width: 770px;
    height: 550px;
    z-index: 1;
    overflow-y: scroll;
}

.chat-row {
    width: 100%;
    height: auto;
    clear: both;
}

.chat-sent {
    height: 100%;
    background-color: rgb(141, 227, 134);
    margin: 5px;
    width: 45%;
    float: right;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.chat-received {
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 100%;
    margin: 5px;
    float: left;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

/* CHAT BOX */

.chat-send {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 700px;
    height: 60px;
    resize: none;
}

.chat-send-icon {
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: red;
    border-radius: 10px;
}

.chat-send-icon:hover {
    cursor: pointer;
}

/* FOOTER */
.footer-div {
    clear: both;
    height: 50px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #48CAE4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.footer-copyright {
    margin-top: 15px;
    text-align: center;
}
