/* For less than 750 px */
* {
    margin: 0;
    padding: 0;
    font-family: "Anta", sans-serif;
    font-weight: 0;
    font-style: normal;
}

body {
    background-color: #f2f4f7;
}

nav {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #FFFFFF;
    font-size: 20px;
}

.nav-img {
    width: 100px;
    float: left;
}

.nav-img > img {
    height: 100px;
    width: 100px;
}

.nav-login {
    display: none;
}

.nav-login-login {
    background-color: #3975ea;
}

.nav-login-register {
    background-color: #3975ea;
}

.hamburger {
    margin-top: 15px;
    margin-right: 15px;
    float:right;
    width: 60px;
    height: 60px;
}

.hamburger:hover {
    cursor: pointer;
}

.dropdown-div {
    position: absolute;
    top: 110px;
    width: 100%;
}
.dropdrown-button {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3975ea;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: none;
}


.dropdrown-button:hover {
    cursor: pointer;
} 


/* WOW THIS IS THE SIGN UP FORM */
.signup-form {
    color: black;
    position: absolute;
    text-align: center;
    top: 225px;
    left: 35%;
}

.signup-form-box {
    background-color: #3975ea;
    padding: 75px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.signup-form-box > p {
    font-size: 25px;
}

.signup-form-box-content {
    margin-top: 10px;
}

.submit-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    text-align: center;
}

.submit-form {
    margin-top: 5px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #42b72a;
}

.signup-form-box-content > input::placeholder {
    text-align: center;
}

.signup-form-no-account {
    margin-top: 10px;
}

.footer-image {
    float: left;
}

.footer-image > img {
    height: 100px;
    width: 100px;
}

.footer-copyright {
    display: hidden;
}

footer {
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: #ffffff;
}

.random {
    top: 35%;
    position: absolute;
}
