* {
    margin: 0px;
    padding: 0px;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F2F4F7;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    background-color: #FFFFFF;
    font-size: 20px;
}

.nav-img {
    width: 20%;
    float: left;
}

.nav-img>img {
    height: 100px;
    width: 100px;
}

.nav-links>p {
    float: left;
    width: 10%;
    margin-top: 35px;
}

.nav-links>p>a {
    text-decoration: none;
    color: black;
}

.nav-login {
    float: right;
    margin-right: 100px;
    margin-top: 20px;
}

.nav-login>a>button {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.nav-login-login {
    background-color: #3975EA;
}

.nav-login-register {
    background-color: #3975EA;
}

/* WOW THIS IS THE SIGN UP FORM */
.signup-form {
    color: black;
    position: absolute;
    text-align: center;
    top: 225px;
    left: 35%;
}

.signup-form-box {
    background-color: #3975EA;
    padding: 75px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup-form-box>p {
    font-size: 25px;
}

.signup-form-box-content {
    margin-top: 10px;
}

.submit-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    text-align: center;
}

.submit-form {
    margin-top: 5px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #42b72a;
}

.signup-form-box-content>input::placeholder {
    text-align: center;
}

.signup-form-no-account {
    margin-top: 10px;
}

.footer-image {
    float: left;
}

.footer-image>img {
    height: 100px;
    width: 100px;
}

.footer-copyright {
    float: right;
    padding-top: 45px;
    padding-right: 100px;
}

footer {
    height: 100px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 100px;
    background-color: #FFFFFF;
}

.random {
    top: 35%;
    position: absolute;
}