* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: "Anta", sans-serif;
    font-weight: 0;
    font-style: normal;
}

body {
    background-color: #CAF0F8;
}

/* Navigation Bar */
nav {
    margin-top: 25px;
    margin-left: 2.5%;
    width: 95%;
    height: 100px;
    background-color: #48CAE4;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.nav-content {
    width: 200px;
}

.nav-img {
    width: 200px;
    height: 100px;
}

.nav-img > img {
    height: 100px;
    width: 100px;
    margin-top: 5px;
    float: left;
}

.nav-logo {
    margin-top: 40px;
    float: left;
    color: black;
}

/* WOW THIS IS THE SIGN UP FORM */

.main {
    width: 100%;
    margin-top: 50px;
}


.signup-form {
    width: 450px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.signup-link {
    text-decoration: none;
}

.signup-p {
    margin-top: 10px;
}

.signup-form-box {
    background-color: #0096C7;
    padding: 75px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.signup-form-box > p {
    font-size: 25px;
}

.signup-form-box-content {
    margin-top: 10px;
}

.gender-select {
    padding: 15px 110px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    text-align: center;
}

.submit-input {
    padding: 15px 60px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    text-align: center;
}

.submit-form {
    margin-top: 5px;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #0077B6;
}

.signup-form-box-content > input::placeholder {
    text-align: center;
}

.signup-form-no-account {
    margin-top: 10px;
}

/* FOOTER */
.footer-div {
    position: fixed;
    height: 50px;
    width: 80%;
    left: 10%;
    right: 10%;
    bottom: 2.5%;
    background-color: #48CAE4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.footer-copyright {
    margin-top: 15px;
    text-align: center;
}

